.react-calendar__tile--active,
.react-calendar__tile--custom {
  background-color: #3b82f6 !important; /* Tailwind's blue-500 */
  color: white !important;
  border-radius: 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
